@import url("https://fontlibrary.org/face/segment7");

body {
    margin: auto;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

#title {
    font-size: 50px;
    margin-bottom: 15px;
}
.cursor {
    cursor: pointer;
}

.control-row {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.control-row > div {
    margin-left: 3em;
    margin-right: 3em;
}

.control-button-display {
    display: flex;
    justify-content: space-around;
}

.timer {
    margin: auto;
    margin-bottom: 25px;
}

.timer-display {
    margin: auto;
    width: 250px;
    height: 100px;
    font-size: 80px;
    font-family: "Segment7Standard";
}

.timer-button-row {
    display: flex;
    justify-content: center;
}

.timer-button-row > div {
    margin-left: 1em;
    margin-right: 1em;
}

#tomatoTimer {
    background-image: url("https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Vegetables-PNG/Tomato_Transparent_PNG_Clip_Art_Image.png?m=1471056901");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
    height: 15vh;
    width: 13vw;
}

.spin {
    animation: spin 1.0s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.origin {
    position:absolute;
    bottom:10px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
